@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap);
*{
  padding: 0;
  margin: 0;
}
.wrapper
{
  background: url("hellobg.jpg") ;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
img
{ 
  height: 34px;
  width: 234px;
  margin-top: 15px;
  margin-left: 15px;
}
nav 
{
  height: 80px ;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.4);

}
div nav ul
{
   float: right;
}
nav ul  li 
{
   display: inline-block;
   font-family:'Bebas Neue',cursive;
   line-height: 80px;
   margin-right: 150px;
   font-size: larger;
   font-size: 23px;
}
.navbar ul  li a
{
  text-decoration: none;
  padding: 5px 16px;
  color: white;
}
.navbar ul li a.active
{
  background: red;
  border: 2px solid red;
}
.navbar ul  li :hover 
{
  background: red;
  border: 2px solid red;
}
.wrapper div
 {
   position: relative;
   text-align: center;
   color: white;
   font-size: 30px;
   text-shadow: 5px 6px 7px black ;
   top: 25%;
  
}
.buttons
{
  margin-top: 60px;


}
button
{
   padding: 20px 50px;
   background-color: #1632d1;
   transform: translate(10);
   border-radius: 30px ;
   font-size: large;
   font-family:'Bebas Neue',cursive;
   color: white;
   
}
#btn1
{
    margin-right: 20px;
}
#btn2
{
     margin-left: 20px;
}
button:hover 
{
  background-color: rgb(158, 13, 194);

}
p
{
  margin-top: 20px;
}
a{
  font-family:'Bebas Neue',cursive;
  text-decoration:none;
  color:white;
}
